/* CSS para el Menú */
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Baloo Da 2', 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    overflow-x: hidden;

}

.header {
    padding: 10px;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-color: #3a3939;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: -8px;
}

.nav-p {
    color: white;
    padding-right: 500px;
    padding-left: 10px;
}

.navImage {
    height: 40px;
    padding-left: 420px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: rgb(226, 200, 91);
    border-radius: 10px;
}

/* CSS para el Menú */

/* CSS PARA REDES SOCIALES*/


.social-media-index {
    position: absolute;
    right: 300px;
    top: 878px;
    margin-left: auto;

}


/* Las clases social-media-diseño/inspiracion/contactar son identicas pero las pongo por separado porque creo que así son más manipulables, al ser todas independientes*/

.social-media-diseño {

    position: absolute;
    right: 480px;
    top: 350px;
    margin-left: auto;

}

.social-media-inspiracion {

    position: absolute;
    right: 480px;
    top: 350px;
    margin-left: auto;

}

.social-media-contactar {

    position: absolute;
    right: 480px;
    top: 350px;
    margin-left: auto;

}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('img/32pixel-icons.png');
    border-radius: 100px;
}

.facebook {
    background-position: 37.7% 8%;
}

.facebook:hover {
    background-position: 37.7% 90%;
}

.gmail {
    background-position: 1.5% 8%;
}

.gmail:hover {
    background-position: 1.5% 90%;
}


.google {
    background-position: 25.5% 8%;
}

.google:hover {
    background-position: 25.5% 90%;
}


.twitter {
    background-position: 62% 8%;
}

.twitter:hover {
    background-position: 62% 90%;
}

.linkedin {
    background-position: 74% 8%;
}

.linkedin:hover {
    background-position: 74% 90%;
}

.github {
    background-position: 86% 8%;
}

.github:hover {
    background-position: 86% 90%;
}


/* CSS PARA REDES SOCIALES*/


/* CSS PARA INDEX*/

.whiteText {
    color: white;
}

.yellowContainer {
    background-image: url(img/cabecera1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    padding-top: 150px;

    padding-bottom: 150px;
}

.yellowContainer h1 {
    color: white;
    font-size: 50px;
}

.yellowContainer p {
    color: white;
    font-size: 35px;
}

.aboutMe-link {
    color: rgb(223, 194, 99);
}

.whiteContainer {
    padding-inline: 150px;
    padding-bottom: 40px;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    padding-left: 100px;

}

.extraComment-yellow {
    text-align: right;
    padding-right: 10px;
}

.extraComment-yellow a {
    color: rgb(223, 194, 99);

}


.article {
    background-color: rgb(242, 242, 241);
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
    width: auto;
}

.article:hover {
    transform: scale(1.05);

}

.article img {
    max-width: 100%;
    height: auto;

}

.article p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;

}

.whiteContainer-h1 {
    padding-top: 10px;
    color: rgb(102, 104, 102);
    font-size: 30px;
    padding-left: 260px;
}

.whiteContainer-p {
    color: rgb(102, 104, 102);
    font-size: 25px;
    padding-left: 260px;

}

/* CSS PARA INDEX*/



/* CSS para el Footer*/


footer {
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 60);
    text-align: center;
}

.ul1-ul2 {

    display: flex;
    justify-content: center;
    align-items: center;

}

.footerListP {
    color: grey;
}

.ul-footer1,
.ul-footer2 {
    list-style-type: none;

}

.ul-footer1 li a,
.ul-footer2 li a {
    color: rgb(234, 203, 88);
    text-decoration: none;
}


/* Para diseño.html */

.yellowImg-diseño {

    padding-left: 200px;
}

.whiteContainer-diseño {

    padding-inline: 100px;
    padding-bottom: 100px;
}

.yellowContainer-diseño {
    background-image: url(img/cabecera1.jpg);
    gap: 100px;
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 100px;
    padding-top: 75px;
    margin-left: -10px;
    padding-bottom: 75px;
    text-align: center;
    position: relative;
}

.yellowContainer-diseño h1 {

    color: white;
    font-size: 50px;
}

.yellowContainer-diseño p {

    color: white;
    font-size: 35px;
}

.caption {

    font-family: 'Roboto';
    font-size: 30px;
    color: grey;
}

.designTable {
    display: flex;
    justify-content: center;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: white;
    border-bottom: 1px solid black;
    color: grey;
}

tbody tr:nth-child(even) {
    background-color: rgb(242, 242, 241);
    color: grey;
}

.table {

    justify-content: center;
    border-collapse: collapse;
    width: 70%;
    font-size: 20px;
}

th {
    border-bottom: 1px solid black;
    background-color: rgb(226, 200, 91);
    color: grey;
    padding: 10px;
    text-align: left;
    font-size: 17px;
}

.td-table {

    padding: 10px;
    border-bottom: 1px solid black;
}

.td-table img {

    width: 100%;
    max-width: 100px;
}

.td-table-comprar {

    color: yellow;
}

.td-button {

    background-color: rgb(226, 200, 91);
    padding: 0px;
    border-radius: 80px;
    padding-inline: 35px;
    padding-block: 12px;
    text-decoration: none;
    color: rgb(61, 61, 60);
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 18px;
}

.td-button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}


/* CSS PARA CONTACTAR */


.divForm {
    background-color: #f4e04d;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;


}

fieldset {

    border: none;
    margin-bottom: 10px;
}



.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    width: 150px;
    text-align: left;
    margin-right: 10px;
    color: rgb(61, 61, 60);
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.form-group select {

    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #f4e04d;
}

.form-group option::placeholder {

    color: rgb(226, 200, 91);
}


legend {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

legend::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background-color: rgb(116, 105, 108);
    margin-left: 20px;
}

label {
    margin-bottom: 5px;
    padding-right: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {

    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #f4e04d;
}

input::placeholder {
    color: rgb(226, 200, 91);

}

textarea {
    height: 100px;
}

.buttons {

    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    background-color: rgb(141, 164, 55);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button[type="reset"] {
    background-color: rgb(224, 113, 84);
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    opacity: 0.8;
}


.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox span {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    background-color: #fff;
}

.custom-checkbox input[type="checkbox"]:checked+span::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 128, 0, 0.5);
    clip-path: polygon(14% 44%, 34% 62%, 86% 14%, 100% 26%, 34% 82%, 0% 54%);
}

/* CSS PARA INSPIRACION */

.inpiracion-list {

    list-style-image: url(img/libro.png);
    margin-left: 0;
    align-items: center;
    padding-left: 350px;
    align-items: center;
    justify-content: center;
}

.inpiracion-list li {

    font-size: 20px;
}

.inspiracionList {
    padding-left: 280px;
    font-size: 23px;
}

.list-item {
    margin: 0;
    padding: 10px 0;
}

.yellowText {

    color: rgb(225, 201, 78);
}

.yellowText a {
    color: rgb(225, 201, 78);

}

.quote {

    background-color: rgb(242, 242, 241);
    font-family: 'Baloo Da 2', sans-serif;
    margin: 0 auto;
    padding-left: 0px;
    text-align: right;
    width: 1000px;
    font-size: 20px;
    padding-block: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-right: 50px;
    border-right: 10px solid rgb(229, 202, 96);
}

.quote p {

    color: rgb(102, 104, 102);
    font-size: 30px;

}


.codeBlock-HTML-CSS-h2 {

    padding-top: 50px;
    color: rgb(102, 104, 102);
    font-size: 30px;
    padding-left: 100px;
}

.codeBlock-HTML-CSS {

    background-color: rgb(242, 242, 241);
    width: 200px;
    margin-left: 300px;
    width: auto;
    border-left: 5px solid rgb(142, 165, 56);
    height: auto;

}

code {
    font-size: 20px;
    text-align: left;
}

.code1 {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

.code1 pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}


.whiteContainer-p-final {
    color: rgb(102, 104, 102);
    font-size: 25px;
    padding-left: 200px;
    padding-top: 20px;

}

.whiteContainer-p-final a {
    color: rgb(219, 196, 88);

}